// cores do meu css
    $cor-primaria: linear-gradient(45deg, rgb(198, 1, 248), rgb(43, 0, 199));
    $cor-secundaria: linear-gradient(45deg, rgb(248, 83, 1), rgb(43, 0, 199));
    $cor-texto-claro: #f6f6f6;
    $cor-branco: #fffffff9;
    $cor-hover: #03ddffe4;
  // Tamanho do meu espaçamento
    $espacamento-padrao: 1rem;
    $espacamento-grande: 3rem;
    $raio: 10px;
// fonte padrão do meu projeto
    $fonte-principal: Arial, Helvetica, sans-serif;