:root{
    --cor-primaria: linear-gradient(45deg, rgb(198, 1, 248), rgb(43, 0, 199));
    --cor-secundaria: linear-gradient(45deg, rgb(248, 83, 1), rgb(43, 0, 199));
    --cor-texto-claro: #f6f6f6;
    --cor-branco: #fffffff9;
    --cor-hover: #03ddffe4;
}
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.bg-primario{
    background: var(--cor-primaria);

}

 .layout-section{
 padding: 3rem 1.5rem;
    max-width: 1100px;
    margin: 0 auto 3rem auto;
    border-radius: 10px;

}
.layout-title{
    text-align: center;
    margin-bottom: 1.2rem;
}

.header__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header__image{
    width: 100px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
.header__title{
    color: var(--cor-texto-claro);
    font-size: clamp(1.2rem , 2.5vw, 5rem);
}

.nav{
    background: #ffffff;
}

.nav_list{
     display: flex;
    justify-content: center;
    list-style: none;
   flex-wrap: wrap;
}
   
.nav_link{

    text-decoration: none;
    padding: 1rem;

}
.nav_link:hover{
background: #03ddffe4;
}

.banner{
    background: var(--cor-primaria);
    min-height: 60vh; 
    border-radius: 10px;
   
    
     
}

.banner_title{
    font-size: clamp(1.5rem , 4vw , 3rem);
    color: var(--cor-branco);
}

.banner_text{
    font-size: clamp(1rem , 2vw , 1.5rem);
    max-width: 600px;
    color: var(--cor-texto-claro);
}

.about{
    background: var(--cor-primaria);
    color: var(--cor-branco);
    border-radius: 10px;

}

.about_text{
      font-size: clamp(1rem , 2vw , 1.5rem);
    max-width: 600px;
}

.services_grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:2rem;
}

.card{
    background: var(--cor-primaria);
    color: var(--cor-texto-claro);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}

.depoimentos_itens{
    background: var(--cor-secundaria);
    padding: 1.2rem;
    margin: 1rem 0;
    border-left: 2px solid #4facfe;
    color: #eaecd6; 
    border-radius: 5px;
}

.contato_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contato_input, .contato_textarea{
   background: var(--cor-secundaria);
    color: var(--cor-texto-claro);
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
}

.button{
    background: var(--cor-branco);
    color: #000;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav_list{
        flex-direction: column;
        text-align: center;
    }

    .banner {
       min-height: 50vh;
    }
}